:root {
   // global
   --container-max-width: 1160px;
   --container-safety-indents: 15px;

   // fonts
   --font-family: "Gilroy", sans-serif;
   --second-family: "Gilroy SemiBold", sans-serif;
   --third-family: "Manrope", sans-serif;
   --font3: "Inter", sans-serif;
   --font-size: 16px;
   --line-height: 1.25;
   --second-family: "Gilroy SemiBold", sans-serif;

   // Color

   --white: #fff;
   --primary: #22253B;
   --secondary: #F15525;
}
